#root {
  background-color: #f1ecd6;
  padding: 2rem;
}

.header {
  height: 25vh;
}

.header,
div.introduction-container {
  text-align: center;
}
div.introduction-container {
  font-size: 20px;
  font-weight: 600;
}

/* HomePage */
.leaflet-container {
  width: 80vw;
  height: 60vh;
  margin: 0 auto;
}

p.anemometer-name {
  font-weight: 600;
}

/* AnemometerDetailPage */
.statistics-container {
  background-color: #d0c8b0;
  text-align: center;
  border: solid 1px #e6dcba;
  border-radius: 0.5rem;
}

/* ChartJS Graph */
canvas.graph-container {
  width: 2000px !important;
}

p.graph-title {
  font-size: 1.7rem;
}
